.MainContHeader{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    background-color: #141B4D;
    color: white;
}
.logo{
    display: flex;
    margin: 0px 0px 0px 50px;
    width: 100px;
    height: 100px;
    background-image: url(./imgs/logouxm.png);
}

.menu
{
    background-color: #141B4D;
    margin: 0px 50px 0px 0px;
    width: 300px;
    height: 60px;
    background-image: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.menu > div {
    
    color: white;
}
